@import "tailwindcss";

@keyframes shake-x {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(6px); }
}

.animate-shake-horizontal {
  display: inline-block; /* Essential for transforms to work */
  animation: shake-x 1.5s ease-in-out infinite;
}

html {
scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}